<!-- Botões de Acessibilidade -->
<button onClick="fonte('a');">+</button> <!-- Botão + -->
<button onClick="fonte('d');">-</button> <!-- Botão - -->


	<!--
		Exemplos simples de aplicação
		Basta adicionar a class .acessibilidade aos
		elementos que devem ser afetados pela função
	-->
	<p class="acessibilidade">
		Exemplo de texto com a class Acessibilidade;
	</p>

	<p class="acessibilidade">
		Outro exemplo de texto com a class Acessibilidade;
	</p>

	<p>
		Este não tem a class Acessibilidade; (Não diminui e cresce)
	</p>

	<ul class="acessibilidade">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>